a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    text-decoration: none;
    line-height: 1;
    position: relative;
}

i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    color: var(--primary-color);
}

a:hover {
    background-color: var(--primary-color);
    transform: translateY(-3px);
}

a:hover i {
    color: #ffffff;
}