/* Import utilities */
@import './utilities.css';

html,
body {
    min-height: 100vh;
    margin: 0;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    background-color: var(--background-color);
    position: relative;
    padding: 0;
    min-height: 100vh;
    z-index: 0;
}

/* CSS Variables */
:root {
    --primary-color: #2A7FFF;
    --secondary-color: #0066CC;
    --accent-color: #FFB400;

    --text-color: #000000;
    --text-opposite: #FFFFFF;

    --background-color: #FFFFFF;
}

/* Dark theme */
:root[data-theme="dark"] {
    --primary-color: #2A7FFF;
    --secondary-color: #3399FF;
    --accent-color: #FFD65C;

    --text-color: #FFFFFF;
    --text-opposite: #000000;

    --background-color: #000000;
}

/* Main content area */
.content {
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;
}