/* Import utilities */
@import './utilities.css';

html,
body {
    min-height: 100vh;
    margin: 0;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    background-color: var(--background-color);
    position: relative;
    padding: 0;
    min-height: 100vh;
    z-index: 0;

    background-image: radial-gradient(100vw 100vw at 100% 0%,
            var(--primary-color) 0%,
            var(--primary-color-10) 70%,
            var(--background-color) 80%);
}

/* CSS Variables */
:root {
    --primary-color: #2A7FFF;
    --primary-color-10: rgba(42, 127, 255, 0.1);
    --secondary-color: #0066CC;
    --accent-color: #FFB400;

    --text-color: #000000;
    --text-opposite: #FFFFFF;

    --shadow: rgba(0, 0, 0, 0.1);

    --background-color: #FFFFFF;
    --background-color-70: rgba(255, 255, 255, 0.7);
    --background-color-30: rgba(255, 255, 255, 0.3);
}

/* Dark theme */
:root[data-theme="dark"] {
    --primary-color: #2A7FFF;
    --primary-color-10: rgba(42, 127, 255, 0.1);
    --secondary-color: #3399FF;
    --accent-color: #FFD65C;

    --text-color: #FFFFFF;
    --text-opposite: #000000;

    --shadow: rgba(255, 255, 255, 0.1);

    --background-color: #1f1f1f;
    --background-color-70: rgba(31, 31, 31, 0.7);
    --background-color-30: rgba(31, 31, 31, 0.3);
}

/* Main content area */
.content {
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 1;
}

@media (max-width: 768px) {
    body {
        background-image: none;
    }
}